*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
html {
    font-size: 1rem;
    
}
html,
body,
.wrap {
  min-height: 100%;
}
ul {
    list-style-type: none;
}
div[class$=__container] {
    width: 75.7%;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  div[class$=__image],
  div[class$=-image] {
    overflow: hidden;
  }
  
  img[class$=__img],
  img[class$=-img] {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
  min-height: 100%;
}
.line{
    background-color: #000000;
    width: 33.5rem;
    height: 1px;
    margin: 0 auto;
}
.task1 {
    display: flex;
    width: 576px;
    height: 91px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }
 
 .holder {
    display: flex;
    height: 35px;
    width: 576px;
    align-items: center;
    justify-content: space-between;
 }
 
 input {
    width: 215px;
    height: 35px;
 }
 
 .head_text {
    width: 283px;
    height: 20px;
    /* margin: 36px; */
 
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
 }
 
 .fa-search {
    padding: 10px;
    width: 35px;
    height: 35px;
    background: #000000;
    border-radius: 0px 20px 20px 0px;
    background: url("/img/icon-search.png") no-repeat;
 }
 
 .inputWidthIcon {
    position: relative;
    width: 215px;
 }
 
 .inputWidthIcon input {
    padding: 10px 45px 10px 10px;
    border-radius: 20px;
    width: 215px;
    height: 35px;
    background: #d7d7d7;
 }
 
 input::placeholder {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
 }
 
 .inputWidthIcon i {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
 }
 
 .result_text {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #039900;
 }
 
 .border_line {
    width: 536px;
    margin-top: 36px;
    margin-bottom: 36px;
 
 }
 
 /* task2 */
 
 .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .task2 {
    display: flex;
    width: 627px;
    height: 116px;
    flex-direction: column;
    align-items: center;
 }
 
 .calculator_text {
    width: 119px;
    height: 20px;
    margin-bottom: 36px;
 }
 
 h3 {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
 }
 
 .cont {
    display: flex;
    width: 627px;
    height: 60px;
 
    align-items: center;
    justify-content: space-between;
 }
 
 .num-button {
    width: 62px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 
 .num-button i {
    display: flex;
    width: 27px;
    height: 25px;
    margin: 1px;
 }
 
 input::placeholder {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7E7E7E;
 }
 
 .cont input {
    display: flex;
    padding: 10px 20px;
    width: 138px;
    height: 35px;
    background: #D7D7D7;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
 }
 
 .img1 {
    background: url(./img/icon-divide.png) no-repeat;
 }
 
 .img2 {
    background: url(./img/icon-minus.png) no-repeat;
 }
 
 .img3 {
    background: url(./img/icon-multiply.png) no-repeat;
 }
 
 .img4 {
    background: url(./img/icon-plus.png) no-repeat;
 }
 
 .img5 {
    background: url(./img/icon_equal.png);
 }
 
 .img5 {
    width: 27px;
    height: 25px;
 }
 
 .container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .task3 {
    display: flex;
    width: 536px;
    height: 142px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.25rem;
 }
 .writeInput input {
    width: 138px;
    height: 35px;
    padding: 10px 20px;
    background: #D7D7D7;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
 }
 
 .writeInput::placeholder {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
 }
 
 .write-text {
    width: 141px;
    height: 20px;
 }
 
 .writeInput {
    display: flex;
    width: 481px;
    height: 35px;
    justify-content: space-between;
 }
 
 .foot-text {
    width: 252px;
    height: 15px;
    margin-bottom: 2.25rem;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
 }
 /*  */
.header-modal{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-modal.hdm_active{
    display: block;
    z-index: 99999;
}
.modal-start {
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    width: 576px;
    height: 316px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.modal-window {
    width: 392px;
    height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.modal-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.modal-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

}

.modal-form {
    display: flex;
    flex-direction: column;
    height: 88px;

}

.modal-form-input {
    padding: 10px 90px 10px 10px;
    width: 169px;
    height: 35px;
    background: #D7D7D7;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 18px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

}

.modal-form>button {
    margin: 0 auto;
    padding: 10px 20px;
    width: 105px;
    height: 35px;


    background: #000000;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.icon-close {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 531px;
    top: 30px;

}

.icon-bar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 505px;
    top: 154px;
}

.icon-gameBar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 461px;
    top: 230px;
}

.icon-puzzle {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 85px;
    top: 230px;

}

.icon-sword {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 41px;
    top: 154px;
}
.header{
    background-color: #fff;
    padding: 10px 0;
}

.header__container{
    display: flex;
    align-items: center;
    min-height: 5rem;
}
.header__select{

    position: relative;
}
.header__logo-image{
    flex: 0 1 5.81rem;
    margin-right: 5rem;
    background-color: #fff;
}
.header__select-name{
    display: flex;
    column-gap: 8px;
}
.header__select-name-btn-img{
    object-fit: contain !important;
    transition-duration: 0.3s;
}
.header__select-name-btn-image.select-btn-active{
    transform: rotate(180deg);
}
.header__select-options{
    display: none;
    outline: 1px solid black;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 21px;
    right: -20px;
}
.header__select-options.select-options-active{
    display: block;
}
.header__select-options>li{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    padding: 10px 56px;
}
.header__select-options>li>a{
    font-size: 0.75rem;
    text-decoration: none;
    color: #000000;
}
.header__menu{
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex: 1 1 auto;
}
.theme{
    margin-right: 3.20rem;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch{
    position: relative;
    width: 40px;
    height: 20px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider::before{
    position: absolute;
    content: url(./img/white.svg);
    width: 20.5px;
    height: 20px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider{
    background-color: #b1b1b1;
}

input:checked + .slider::before{
    content: url(./img/dark.svg);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.header__user{
    color: #000;
}
.main{
    background-image: url("img/main-bkg.png");
    background-repeat: repeat-y;
    background-position: left top;
    background-size: cover;
}
.main__container{
    width: 75.7%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.main__title{
    width: 33.5rem;
    text-align: center;
    margin-bottom: 2.25rem;
}
.main__title-text{
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 2.25rem;
}
.main__c-number{
    text-align: center;
    width: 36rem;
    margin-bottom: 2.25rem;
}
.frstsk{
    margin-bottom:  2.25rem;
    text-align: center;
}
.frstsk-title{
    font-size: 1rem;
    margin-bottom:  2.25rem;
}
.frstsk-year {
    width: 215px;
    height: 35px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    background: #D7D7D7;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px; 
    align-items: center;   
}

.frstsk-alarm {
    font-family: 'Montserrat Alternates', sans-serif;
}

.frstsk-glass {
    width: 35px;
    height: 35px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    background:#000000;
}
.frstsk-form{
    display: flex;
    margin-bottom:  2.25rem;
}
.c-number__content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
}
.c-number__title{
    margin-bottom: 2.25rem;
    font-size: 1rem;
}

.c-number__form{
    display: flex;
}
.c-number__input{
    padding: 10px;
    background: #D7D7D7;
    border-radius: 20px 0 0 20px;
    font-size: 0.75rem;
    outline: none;
    border: none;
}
.c-number__image{
    flex: 0 1 2.18rem;
    height: 2.18rem;
}
.main__srp{
    width: 40.6rem;
    margin-bottom: 2.25rem;
}
.srp__title{
    font-size: 1rem;
    margin-bottom: 2.25rem;
    text-align: center;
}
.srp__game{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5.81rem auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 6.5rem;
    row-gap: 2.25rem;
    margin-bottom: 2.25rem;
}
.srp__images{
    display: flex;
    grid-column: 2 / 3;
}
.srp__image{
    flex: 0 1 3.75rem;
}
.srp__image:not(:last-child){
    margin-right: 2.375rem;
}
.srp__cvariation{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #000000;
    border-radius: 20px;
    color: #fff;
}
.srp__result{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}
.main__calc-time{
    margin-bottom: 2.25rem;
}
.calc-time{
    width: 33.5rem;
    text-align: center;
}
.calc-time__title{
    margin-bottom: 2.25rem;
}
.calc-time__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
}
.calc-time__form{
    display: flex;
    height: 2.18rem;
}
.calc-time__input{
    padding: 10px;
    background: #D7D7D7;
    border-radius: 20px 0 0 20px;
    font-size: 0.75rem;
    outline: none;
    border: none;
    width: 7.18rem;
}
.main__dino{
    margin: 0 auto 2.25rem;
}
.dino{
    text-align: center;
}
.dino__title{
    margin-bottom: 1rem;
}
.dino__descr{
    margin-bottom: 2.25rem;
}
.dino__game{
    width: 720px;
    height: 241px;
    border: 1px solid black;
    background-image: url(img/dino/ground.png);
    background-repeat: repeat-x;
    background-position: 0% 85%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2.25rem;
}
.dino__image{
    background-image: url(img/dino/standing_still.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 75px;
    position: absolute;
    top: 120px;
    left: 72px;
}
.dino__cactus1-image{
    
    background-image: url(img/dino/cactus_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 60px;
    position: absolute;
    left: calc(100% + 35px);
    top: 134px;
}
.dino__cactus1-image.cactus_active{
    animation: cactuses_move 2s linear infinite;
}
.dino__image.dino-running{
    animation-name: dino-run;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
}
.dino__image.dino-jumping{
    animation: dino-jump 0.5s ease-in 1;
}
@keyframes cactuses_move {
    0%{
        left: calc(100% + 35px);
    }
    50%{
        left: 50%;
    }
    100%{
        left: -30%;
    }
}
@keyframes dino-run {
    0% {
       background-image: url(img/dino/standing_still.png); 
    }
    50%{
        background-image: url(img/dino/dino_run2.png); 
    }
    100% {
        background-image: url(img/dino/dino_run1.png); 
     }
}
@keyframes dino-jump {
    0%{
        top: 50%;
    }
    25%{
        top: 30%;
    }
    50%{
        top: 20%;
    }
    75%{
        top: 30%;
    }
    100%{
        top: 50%;
    }
}
.f-canvas {
    border: 2px solid black;
    border-radius: 27px;
 }
 
 .foot__ball {
    margin-bottom: 36px;
 }
 .task7 {
    display: flex;
    width: 720px;
    height: 276px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.25rem;
 }
.iy {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
 }
 
 .student {
    width: 256px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
 }
 
 .my-pictures-section {
    width: 1024px;
    height: 256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
 }
 
 #arrow-left {
    content: url(./img/arrow-left.svg);
    background-color: #fff;
    position: absolute;
    left: -328px;
    top: 100px;
    width: 50px;
    height: 100px;
    color: #000000;
    cursor: pointer;
 }
 
 #arrow-right {
    content: url(./img/arrow-right.svg);
    position: absolute;
    background-color: #fff;
    right: -328px;
    top: 100px;
    width: 50px;
    height: 100px;
    color: #000000;
    cursor: pointer;
 }
 
 
 .game-section-title {
    height: 20px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
 }
 
 
 .game-section {
    position: relative;
    padding: 36px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 36px;
 }
 
 .img-title {
    width: 115px;
    height: 17px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
 }
 
 .img-subtitle {
    width: 315px;
    height: 15px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
 }
.wrap__footer{
    padding: 3.75rem 0;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo-image{
    flex: 0 1 11.5rem;
    height: 4.375rem;
}
.footer__contact{
    font-size: 0.75rem;
}
.footer__contact:not(:last-child){
    margin-bottom: 0.31rem;
}
.footer__input{
    padding: 10px;
    background: #D7D7D7;
    border-radius: 20px;
    font-size: 0.75rem;
    outline: none;
    border: none;
}
.footer__input::placeholder{
    color: #7E7E7E;
    font-size: 0.75rem;
}
.footer__form-button{
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #000000;
    border-radius: 20px;
    color: #fff;
}
.footer__form-text{
    font-size: 0.375rem;
}
.footer__form>form{
    display: flex;
    column-gap: 2.25rem;
    margin-bottom: 1.125rem;
}
.footer__modal{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.footer__modal.fma{
    display: block;
}
.modal-subscribe {
    display: none;
    position: fixed;
    width: 463px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 20px;
}

.f-title {
    width: 188px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.f-icon-close {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 418px;
    top: 30px;
}

.f-icon-bar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 391px;
    top: 69px;
}

.f-icon-gameBar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 347px;
    top: 145px;
}

.f-icon-puzzle {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 87px;
    top: 145px;
}

.f-icon-sword {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 43px;
    top: 69px;
}

